body {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: JetBrains Mono;
  position: relative;
}

